sample1	isolate1	heart	1	sample1-R1.fastq.gz
sample1	isolate1	heart	2	sample1-R2.fastq.gz
sample2	isolate1	kidney	1	sample2-R1.fastq.gz
sample2	isolate1	kidney	2	sample2-R2.fastq.gz
sample3	isolate1	liver	1	sample3-R1.fastq.gz
sample3	isolate1	liver	2	sample3-R2.fastq.gz
sample4	isolate1	lung	1	sample4-R1.fastq.gz
sample4	isolate1	lung	2	sample4-R2.fastq.gz
sample5	isolate1	muscle	1	sample5-R1.fastq.gz
sample5	isolate1	muscle	2	sample5-R2.fastq.gz
sample6	isolate1	skin	1	sample6-R1.fastq.gz
sample6	isolate1	skin	2	sample6-R2.fastq.gz
sample7	isolate2	heart	1	sample7-R1.fastq.gz
sample7	isolate2	heart	2	sample7-R2.fastq.gz
sample8	isolate2	kidney	1	sample8-R1.fastq.gz
sample8	isolate2	kidney	2	sample8-R2.fastq.gz
sample9	isolate2	liver	1	sample9-R1.fastq.gz
sample9	isolate2	liver	2	sample9-R2.fastq.gz
sample10	isolate2	lung	1	sample10-R1.fastq.gz
sample10	isolate2	lung	2	sample10-R2.fastq.gz
sample11	isolate2	muscle	1	sample11-R1.fastq.gz
sample11	isolate2	muscle	2	sample11-R2.fastq.gz
sample12	isolate2	skin	1	sample12-R1.fastq.gz
sample12	isolate2	skin	2	sample12-R2.fastq.gz
