#!/bin/bash

# name of current sample to be processed
NAME=${1}

############# need to set these

# name of conda environment with all required programs installed (see README.md for details)
MYENV=

# path to working (output) directory
wd=

# path to 5-column white-space delimited file with (1) sample name, (2) sample isolate, (3) sample tissue type, (4) direction of reads in file (1=forward; 2=reverse), (5) raw reads file name
SAMPLES_FILE=

# path to directory containing raw reads files listed in $SAMPLES_FILE
DIR_RAW=

# path to file 'TruSeq3-PE-2.fa' with standard illumina adapters
ADAPTERS=

# path to python script 'FilterPEfastq.py'
PATH_FILTER_PY=

############# optionally change these

# number of threads to use when running each program
NUM_THREADS_FASTQC=1
NUM_THREADS_RCORRECTOR=10
NUM_THREADS_PYFILTER=10
NUM_THREADS_TRIMMOMATIC=10
NUM_THREADS_TRINITY=60

# maximum memory available to each program
MAX_MEM_FASTQC=2G
MAX_MEM_RCORRECTOR=10G
MAX_MEM_PYFILTER=10G
MAX_MEM_TRIMMOMATIC=80G
MAX_MEM_TRINITY=150G

############# probably shouldnt change these

# where to save fastqc output
DIR_FASTQC=$wd"/fastqc/"

# where to save Rcorrector output
DIR_RCORRECT=$wd"/rcorrected/"$NAME

# where to save filtered reads
DIR_FILTER=$wd"/filtered/"$NAME

# Where to save trimmomatic output (trimmed reads)
DIR_TRIM_OUT=$wd"/trimmomatic/"$NAME

# directory with input files (trimmed reads) for bbsplit
DIR_BBSPLIT_IN=$DIR_TRIM_OUT

# where to save trinity output
DIR_TRINITY=$wd"/trinity/"

# Filenames for raw reads of current sample
R1_FILE=$(awk -v sn=$NAME '$1==sn && $4==1{print $5}' $SAMPLES_FILE)
R2_FILE=$(awk -v sn=$NAME '$1==sn && $4==2{print $5}' $SAMPLES_FILE)

# Paths to raw reads of current sample
R1_RAW=$DIR_RAW"/"$R1_FILE
R2_RAW=$DIR_RAW"/"$R2_FILE

# Paths to Rcorrector-corrected reads
R1_COR=$DIR_RCORRECT"/"$(echo $R1_FILE | sed 's|fastq.gz|cor.fq.gz|g')
R2_COR=$DIR_RCORRECT"/"$(echo $R2_FILE | sed 's|fastq.gz|cor.fq.gz|g')

# Paths to trimmed reads (outputs of trimmomatic)
R1PE_TRIMMED=$DIR_TRIM_OUT"/"$NAME"_forward_paired.fq.gz"
R2PE_TRIMMED=$DIR_TRIM_OUT"/"$NAME"_reverse_paired.fq.gz"
R1S_TRIMMED=$DIR_TRIM_OUT"/"$NAME"_forward_unpaired.fq.gz"
R2S_TRIMMED=$DIR_TRIM_OUT"/"$NAME"_reverse_unpaired.fq.gz"


