#!/bin/bash

# name of current sample
NAME=${1}

#### set values for these variables before running pipeline
  
# Path to working directory
wd=

# number of threads to use for a task
NUM_THREADS=20

# path to file 'TruSeq3-PE-2.fa' with standard illumina adapters
ADAPTERS=

# path to python script 'FilterPEfastq.py'
PATH_FILTER_PY=

# path to directory containing raw RNAseq reads (paired-end 150bp)
DIR_RAW=

# where to save fastqc output
DIR_FASTQC=$wd"/fastqc/"

# where to save Rcorrector output
DIR_RCORRECT=$wd"/rcorrected/"$NAME

# where to save filtered reads
DIR_FILTER=$wd"/filtered/"$NAME

# Where to save trimmomatic output (trimmed reads)
DIR_TRIM_OUT=$wd"/trimmomatic/"$NAME

# directory with input files (trimmed reads) for bbsplit
DIR_BBSPLIT_IN=$DIR_TRIM_OUT

# Paths to raw reads
R1=$(find ${DIR_RAW}/${NAME}*R1*fastq.gz)
R2=$(find ${DIR_RAW}/${NAME}*R2*fastq.gz)

# Paths to Rcorrector-corrected reads
R1_COR=$(echo ${DIR_RCORRECT}/$(basename $R1) | sed 's|fastq.gz|cor.fq.gz|g')
R2_COR=$(echo ${DIR_RCORRECT}/$(basename $R2) | sed 's|fastq.gz|cor.fq.gz|g')

# Paths to trimmed reads (outputs of trimmomatic)
R1PE_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_forward_paired.fq.gz"
R2PE_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_reverse_paired.fq.gz"
R1S_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_forward_unpaired.fq.gz"
R2S_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_reverse_unpaired.fq.gz"

