#!/bin/bash

# name of current sample to be processed
NAME=${1}

############# need to set these

# name of conda environment with all required programs installed (see README.md for details)
MYENV=

# path to working (output) directory
wd=

# path to 3-column file with (1) raw reads file name, (2) sample name, (3) sample tissue source
SAMPLES_FILE=

# path to directory containing raw RNAseq reads (paired-end 150bp) with files defined in $SAMPLES_FILE
DIR_RAW=

# path to file 'TruSeq3-PE-2.fa' with standard illumina adapters
ADAPTERS=

# path to python script 'FilterPEfastq.py'
PATH_FILTER_PY=

############# optionally change these

# number of threads to use for tasks other than trinity
NUM_THREADS=20

# number of cpus available for trinity
NUM_CPU_TRINITY=60

# maximum memory available for trinity
MAX_MEM_TRINITY=150G

# where to save fastqc output
DIR_FASTQC=$wd"/fastqc/"

# where to save Rcorrector output
DIR_RCORRECT=$wd"/rcorrected/"$NAME

# where to save filtered reads
DIR_FILTER=$wd"/filtered/"$NAME

# Where to save trimmomatic output (trimmed reads)
DIR_TRIM_OUT=$wd"/trimmomatic/"$NAME

# directory with input files (trimmed reads) for bbsplit
DIR_BBSPLIT_IN=$DIR_TRIM_OUT

# where to save trinity output
DIR_TRINITY=$wd"/trinity/"

# Paths to raw reads
R1=$(find ${DIR_RAW}/${NAME}*R1*fastq.gz)
R2=$(find ${DIR_RAW}/${NAME}*R2*fastq.gz)

# Paths to Rcorrector-corrected reads
R1_COR=$(echo ${DIR_RCORRECT}/$(basename $R1) | sed 's|fastq.gz|cor.fq.gz|g')
R2_COR=$(echo ${DIR_RCORRECT}/$(basename $R2) | sed 's|fastq.gz|cor.fq.gz|g')

# Paths to trimmed reads (outputs of trimmomatic)
R1PE_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_forward_paired.fq.gz"
R2PE_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_reverse_paired.fq.gz"
R1S_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_forward_unpaired.fq.gz"
R2S_TRIMMED=${DIR_TRIM_OUT}"/"${NAME}"_reverse_unpaired.fq.gz"
